* {
    font-family: "Gothic A1", sans-serif;
}

body {
  background-color: #454445;
}

label, h3, p {
  color: rgb(242, 242, 242);
}

#usrname, #psw {
  background-color: rgb(100, 100, 100);
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #383738;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    color: rgb(242, 242, 242);
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: rgb(242, 242, 242);
    border: 1px solid #383738;
    font-size: medium;
    font-weight: bold;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #363535;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #363535;
    color: rgb(242, 242, 242);
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: rgb(76, 167, 114);
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: rgb(236, 106, 94);
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }